/*
##########################################################
# 						BODY							 #
##########################################################
*/
body {
	font-family: arial, sans-ms;
	color: #3D2344;

}


#bloc-page  {
	width: 900px;
	margin: auto;
	background-color: #F2F4A1;
	margin: solid #DCDCC2 2px;
}

a {
	color: #3D2344;
	text-decoration: none;

}



/*
##########################################################
# 						HEADER							 #
##########################################################
*/


/*
##########################################################
# 						ASIDE - NAV						 #
##########################################################
*/



/*
##########################################################
# 						MAIN							 #
##########################################################
*/



/*
##########################################################
# 						FOOTER							 #
##########################################################
*/












