/*
##########################################################
# 						BODY							 #
##########################################################
*/
body {
	font-family: arial, sans-ms;
	color: #3D2344;

}


#bloc-page  {
	width: 900px;
	margin: auto;
	background-color: #F2F4A1;
	margin: solid #DCDCC2 2px;
}

a {
	color: #3D2344;
	text-decoration: none;

}



/*
##########################################################
# 						HEADER							 #
##########################################################
*/

header {
	background-color: #FF8900;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row ;
    margin-bottom: 20px;
}

#sitehead {
	display: flex;

}

#logo {
	width: 150px;
	height: 100px;
	max-width: 150px;
	max-height: 100px;
	background-color: white;


    display: flex;

    align-items: baseline;
}

h1 {
	max-width: 530px;
	max-height: 50px;
	color: #0092FF;
	margin: 20px;

}

/* Navigation*/
#primary {
	background-color: #CA815B;
}

#primary ul {
    list-style-type: none;
    display: flex;

}

#primary ul li {
	margin-right: 15px;

}

#primary a {
	color: white;
	padding: 3px;
}

#primary a:hover {
	background-color: #CA8160;
}



/*
##########################################################
# 						ASIDE - NAV						 #
##########################################################
*/
#body {
	display: inline-flex;
	flex-direction: row
}


#secondary {
	width: 200px;
	border: solid black 1px;
	margin: 5px;
	padding: 5px;
	font-size: 0.9em;

}

#secondary h2 {
	margin: 5px;
	padding: 5px;
	font-size: 0.9em;
}


#secondary ul {
	list-style-type: none;
}


/*
##########################################################
# 						MAIN							 #
##########################################################
*/
#trillage h2, #articles h2 {
	display: none;
}

#trillage{
	width: 200px;
} 

#trillage ul {
    list-style-type: none;
    display: flex;
	background-color: grey;
end;
	
}

#articles {
    display: flex;
    flex-wrap: wrap;
	

}

.articles {
	width: 200px;
	height: 200px;
	margin: 10px;
    border: solid black 1px;
    background-color: orange;

}



/*
##########################################################
# 						FOOTER							 #
##########################################################
*/












