/*
##########################################################
# 						BODY							 #
##########################################################
*/
body {
	font-family: arial, sans-ms;
	color: #3D2344;
}

main  {
	width: 900px;
	margin: auto;
	background-color: #F2F4A1;
	border: solid #DCDCC2 2px;
}

a {
	color: #3D2344;
	text-decoration: none;

}



/*
##########################################################
# 						HEADER							 #
##########################################################
*/

header {
	background-color: #FF8900;
}

#sitehead {
	display: inline-block;
}

#logo {
	width: 150px;
	height: 100px;
	background-color: white;

}

h1 {
	color: #0092FF;
	font-size: 2em;

}

/* Navigation*/
#primary {
	background-color: #CA815B;
}

#primary ul {
    list-style-type: none;

}

#primary li {
	display: inline-block;
	margin-right: 15px;
	padding: 5px;
}

#primary a {
	color: white;
	font-size: 1.3em;
}

#primary a:hover {
	background-color: maroon;
}



/*
##########################################################
# 						ASIDE - NAV						 #
##########################################################
*/

aside, #main-content {
	display: inline-block;
	vertical-align: top;

}


aside {
	border: solid black 1px;
	width: 200px;
	background-color: lightblue;
}

#secondary ul {
	margin-left:5px;
	padding-left:5px;
}

#secondary ul li  {
	list-style-type: none;

}

#secondary ul li h2, #secondary ul li a {
	color: black;
	font-size: 0.9em;
	margin: 5px;
}

/*
##########################################################
# 						MAIN							 #
##########################################################
*/
#main-content {
	width: 690px;
}


#trillage h2, #articles h2 {
	display: none;
}

#trillage{
	width: 500px;

} 

#trillage ul {
    list-style-type: none;

	background-color: grey;


}

#articles {
	

}

.articles {
	width: 200px;
	height: 200px;
    border: solid black 1px;
    background-color: orange;
	margin: 2px;
	padding: 10px;
	display: inline-block;
}

.articles h3 {
	margin: 0;
	color: green;
	text-align: left;
	font-size: 0.9em;

}

.articles p {
	text-align: right;
	color: pink;
	font-weight: bold;
	font-size: 1.3em;
	margin: 0;
}

 img {
 	width: 170px;
 }

#produit {
	float: left;

	border: black solid 3px;
	 margin: 10px;
}

#produit img {
	width: 300px;
}

#prix {
	color: pink;
	font-weight: bold;
	font-size: 2em;

}


/*
##########################################################
# 						FOOTER							 #
##########################################################
*/

footer, footer a {
	background-color: maroon;
	color: white;
	text-decoration: none;
	font-style: 0.3em;


}

small div {
		display: inline-block;
		vertical-align: top;

}

small div ul {
	list-style-type: none;
}







